<form [formGroup]="inputForm">
    <div class="card-list">
        <mat-card class="input-card">
            <mat-card-content>
                <mat-form-field>
                    <mat-label>members</mat-label>
                    <textarea rows="30" cols="100" matInput formControlName="membersField"></textarea>
                </mat-form-field>
                <br>
                <button mat-raised-button (click)="getPermutation()">get permutations</button>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="response != null" class="result-status-card {{response.metainfo.status != 'PERFECT' ? 'alarm': ''}}">
            <mat-card-content>
            <table>
                <tr>
                    <td>status</td>
                    <td>{{response.metainfo.status}}</td>
                </tr>
                <tr>
                    <td>number of elements</td>
                    <td>{{response.metainfo.numberOfElements}}</td>
                </tr>
                <tr *ngIf="response.metainfo.status != 'PERFECT'">
                    <td>elements with more than one match</td>
                    <td>{{response.metainfo.numberOfElementsWithMoreThanOneMatch}}</td>
                </tr>
                <tr *ngIf="response.metainfo.status != 'PERFECT'">
                    <td>max number of matches</td>
                    <td>{{response.metainfo.maxNumberOfMatchings}}</td>
                </tr>
                <tr>
                    <td>fill algorithm</td>
                    <td>{{response.metainfo.fillAlgorithm}}</td>
                </tr>
                <tr>
                    <td>number of supersets</td>
                    <td>{{response.metainfo.numberOfCycles}}</td>
                </tr>
                <tr>
                    <td>max number of sets per superset</td>
                    <td>{{response.metainfo.maxNumberOfGroups}}</td>
                </tr>
                <tr>
                    <td>min number of sets per superset</td>
                    <td>{{response.metainfo.minNumberOfGroups}}</td>
                </tr>
                <tr>
                    <td>max elements in largest set</td>
                    <td>{{response.metainfo.maxElementsInLargestGroup}}</td>
                </tr>
                <tr>
                    <td>min elements in smallest set</td>
                    <td>{{response.metainfo.minElementsInSmallestGroup}}</td>
                </tr>
            </table>
            </mat-card-content>
        </mat-card>
        <mat-card class="superset-card" *ngIf="response != null">
            <mat-card-content>
                MATRIX of ELEMENTS<br>
                <mat-chip-list>
                        <mat-chip *ngFor="let member of memberArray; let i = index"
                                  (click)="select(i)"
                                  class="{{isSelected(i)}}">{{member}}
                        </mat-chip>
                </mat-chip-list>
            </mat-card-content>
        </mat-card>
    </div>


    <div *ngIf="response != null" class="card-list">
        <mat-card *ngFor="let cycle of response.cycles; let i = index" class="superset-card" class="{{matchSuperSetClass(i)}}">
            <mat-card-content>
                <mat-card-title>round {{i + 1}}
                </mat-card-title>
                <div class="card-list">
                    <mat-card *ngFor="let group of cycle; let j = index" class="set-card" class="{{matchSetClass(i * response.square.dimension + j)}}">
                        <mat-card-content>
                            <mat-card-title class="tiny">
                                (group {{i * response.square.dimension + j + 1}} / round {{i + 1}})
                            </mat-card-title>
                            <mat-chip-list>
                                <mat-chip *ngFor="let element of group"
                                        (click)="select(element)"
                                        class="{{isSelected(element)}}">{{memberArray[element]}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</form>