.tiny {
    font-size:0.8em;
    white-space: nowrap;

}

.result-status-card {
}

.input-card {
}


mat-card {
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 15px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
}

.set-card {
    width: 90%;
    background: whitesmoke;
}

.superset-card {
    width: 300px;
    background: lightgrey;
}

.mat-mdc-standard-chip.markFirst{
    --mdc-chip-label-text-color: white;
}
.mat-mdc-standard-chip.markSecond{
    --mdc-chip-label-text-color: white;
}


mat-chip.markFirst {
    background: green;
    border-radius: 0%;
}

mat-chip.markSecond {
    background: cadetblue;
    border-radius: 0%;
}

.alarm {
    background: yellow;
}

.markSet {
    background: lightgrey;
}
.markSuperSet {
    background: green;
}

