.tiny {
    font-size:0.8em;
    white-space: nowrap;

}

.result-status-card {
}

.input-card {
}


mat-card {
    text-align: center;
    text-decoration: none;
    display: flex;
    margin: 15px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding-top: 15px;
}

.set-card {
    width: 90%;
    background: whitesmoke;
}

.superset-card {
    width: 300px;
    background: lightgrey;
}

.markFirst {
    background: green;
    color: white;
    border-radius: 50%;
}
.markSecond {
    background: cadetblue;
    color: white;
    border-radius: 50%;
}

.alarm {
    background: yellow;
}